body {
	width: 100%;
	margin: 0;
	height: 100%;
	background: rgb(83, 42, 22);
}

p {
	font-size: 20px;
	color: rgb(255, 255, 255);
}

h1,
h2 {
	color: white;
}

a {
	text-decoration: none;
	color: black;
}

a:active {
	color: black;
}

/* variable global */

.center-text {
	text-align: center;
}

.clr-back {
	background: rgb(148, 90, 51);
	/* background: linear-gradient(90deg, rgba(55, 49, 148, 1) 0%, rgba(150, 26, 201, 1) 52%, rgba(122, 10, 110, 1) 100%); */
}

.header-title p:hover {
	color: white;
}

/* ---------------------------------------------header --------------------------------------------*/

header {
	width: 100%;

	background: rgb(128, 72, 35);
}

.header-top {
	border: 1px solid black;
	display: flex;
	flex-wrap: wrap;
	flex-direction: row;
	align-content: center;
	justify-content: space-around;
	align-items: center;
}

.logo img {
	width: 150px;
	height: 150px;
}

.header-title {
	padding: 5px 10px;
}

.header-title p {
	font-size: 28px;
}

.header-search {
	border: 1px solid red;
}

.devise p {
	padding: 8px 0;
	margin: 0 auto;
}
.shopping-icon {
	display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
	align-items: center;
}

/* ------------------------------------------main --------------------------------------*/

.banner {
	border: 1px solid black;
	position: relative;
	overflow: hidden;
	width: 100%;
	background-image: url(../img/teddy-font);
	background-position: center;
	height: 250px;
	background-size: cover;
}

.banner h1 {
	margin: 0;
	width: 100%;
	position: absolute;
	background-color: rgb(128, 72, 35);
	bottom: 0;
	border: 1px solid black;
}

.main-choice {
	margin-bottom: 20px;
}
.main-choice button {
	margin-top: 20px;
	display: flex;
	justify-content: center;
	align-content: center;
	align-items: center;
}
.main-choice button:hover {
	background: rgb(128, 72, 35);
	transition: 200ms;
}
.main-choice button h2 {
	color: black;
	margin: 10px 5px;
}
.main-choice-products {
	/* border: 2px solid green; */
	margin: 15px;
}
.main-choice-products ul {
	text-align: center;
	padding: 0;
	list-style-type: none;
	display: flex;
	margin: auto;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-around;
	align-content: center;
	align-items: stretch;
}
.main-choice-products li {
	background-color: rgb(128, 72, 35);
	border: 2px solid black;
	border-radius: 15px;
	padding: 15px;
	margin-bottom: 20px;
	width: 33%;
}
.main-choice-products li img {
	width: 100%;
	/* object-fit: cover; */
}
.main-choice-products button {
	margin-top: 10px;
	line-height: 60px;
	font-weight: bold;
	padding: 0 40px;
	background: rgb(255, 255, 255);
	border: none;
	transition: background-color;
}
.main-choice-products button:hover {
	background: rgb(128, 72, 35);
	border-style: inset;
	transition: 200ms;
	color: #fff;
}
.main-choice-products h2,
p,
button {
	margin: 10px auto;
}

/* ---------------------------------------------footer ---------------------------------------------*/

footer {
	border: 1px solid black;
	background: rgb(128, 72, 35);
	bottom: 0;
	width: 100%;
	padding-bottom: 15px;
}

footer span {
	margin-bottom: 10px;
}

.footer-social {
	display: flex;
	flex-direction: row;
	justify-content: space-around;
}

.footer-social a {
	display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
	align-items: center;
}

.icon {
	font-size: 22px;
	color: white;
}

.icon:hover {
	color: rgba(255, 255, 255, 0.336);
}
/*------------------------------- Panier-recap --------------------------------------*/
.panier-global {
	margin: auto;
	width: 90%;
	height: auto;
	display: flex;
	flex-direction: column;
	border: 2px solid black;
	border-radius: 15px;
	overflow: hidden;
}
.le-panier {
	text-align: center;
	width: auto;
	background: rgb(148, 90, 51);
	font-weight: 900;
	font-size: 24px;
	color: #fff;
	padding: 10px;
	border-bottom: 1px solid black;
}
.panier-vide {
	color: #fff;
	margin: auto;
}
.recap-produits {
	display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
	list-style: none;
	/* text-align: center; */
	width: auto;
	padding: 0;
}
.recap-produits li {
	display: flex;
	flex-direction: row;
	align-items: center;
}
.recap-produits li button {
	margin: auto;
}

.total-produit {
	display: flex;
	justify-content: space-around;
	flex-direction: row;
	align-items: center;
	width: auto;
	border-top: 1px solid black;
	background: rgb(148, 90, 51);
}
.total-prix {
	text-align: center;
}
.finaliser-panier {
	display: flex;
	justify-content: space-around;
}

.finaliser-panier button {
	margin: 15px 10px;
}

/* ----------------------------------------panier-formulaire----------------------------- */

.formulaire {
	text-align: center;
	margin: 20px auto;
}

.formulaire form {
	margin: 15px auto;
}
.formulaire h2 {
	margin: 0 auto;
}
.formulaire form {
	display: flex;
	flex-direction: column;
	width: 100%;
	/* text-align: center; */
	align-items: center;
}

.formulaire form div {
	margin: 10px auto;
	display: flex;
	flex-direction: column;
	width: 50%;
}
.formulaire label {
	color: #fff;
}
.form-erreur {
	color: yellow;
	font-weight: bold;
}

.formulaire input {
	white-space: nowrap;
	text-overflow: ellipsis;
}
.formulaire-input-erreur {
	background: #c7b22a;
}

/* -------------------Confirmation--------------- */
.confirmation {
	text-align: center;
	display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
	align-items: center;
	margin: auto;
	width: 70%;
	border: 2px solid black;
}
.confirmation p {
	text-align: center;
	padding: 0 15px;
}
.entete-confirmation {
	width: 100%;
	background: rgb(128, 72, 35);
	border-bottom: 2px solid black;
}

.confirmation p:nth-child(6) {
	background: rgb(128, 72, 35);
	border-top: 2px solid black;
	margin-bottom: 0;
	padding-bottom: 10px;
	font-size: 22px;
	font-weight: 500;
}
.important {
	font-weight: bold;
}
/* ---------------------------------------------responsive--------------------------------------------- */
@media screen and (max-width: 870px) {
	/* Page index */
	/* main */

	.main-choice-products ul {
		text-align: center;
		padding: 0;
		list-style-type: none;
		display: flex;
		margin: auto;
		flex-direction: column;
		flex-wrap: wrap;
		justify-content: space-around;
		align-content: center;
		align-items: stretch;
	}
	.main-choice-products li {
		border: 2px solid black;
		padding: 15px;
		margin-bottom: 15px;
		width: 90%;
	}
	/* Page panier */

	/* .formulaire form div {
		max-width: 70%;
	} */

	/* Pageconfirmation */

	.confirmation {
		width: 100%;
	}
}

@media screen and (max-width: 600px) {
	/* Page panier  */
	.recap-produits li p {
		margin: 0 5px;
	}
	.formulaire form input {
	}
}
