body {
    width: 100%;
    margin: 0;
    height: 100%;
}

p {
    font-size: 20px;
}


/* variable global */

.center {
    text-align: center;
}


/* header */

header {
    width: 100%;
    position: fixed;
    top: 0;
    border: 1px solid green;
}

.header-top {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-content: center;
    justify-content: space-between;
    align-items: center;
}

.logo img {
    width: 150px;
    height: 150px;
}

.header-title {
    border: 1px solid black;
    padding: 5px 10px;
}

.header-title p {
    font-size: 28px;
}

.header-search {
    border: 1px solid red;
}

.devise {}


/* main */

main {
    margin-top: 200px;
}