body {
    width: 100%;
    margin: 0;
    height: 100%;
    background: rgb(83, 42, 22);
}

p {
    font-size: 20px;
    color: rgb(255, 255, 255);
}

h1,
h2 {
    color: white;
}

a {
    text-decoration: none;
    color: black;
}

a:active {
    color: black;
}


/* variable global */

.center-text {
    text-align: center;
}

.clr-back {
    background: rgb(148, 90, 51);
    /* background: linear-gradient(90deg, rgba(55, 49, 148, 1) 0%, rgba(150, 26, 201, 1) 52%, rgba(122, 10, 110, 1) 100%); */
}

.header-title p:hover {
    color: white;
}


/* header */

header {
    width: 100%;
    border: 1px solid green;
    background: rgb(128, 72, 35);
    /* background: rgb(158, 97, 187); */
}

.header-top {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-content: center;
    justify-content: space-around;
    align-items: center;
}

.logo img {
    width: 150px;
    height: 150px;
}

.header-title {
    border: 1px solid black;
    padding: 5px 10px;
}

.header-title p {
    font-size: 28px;
}

.header-search {
    border: 1px solid red;
}

.devise p {
    padding: 8px 0;
    margin: 0 auto;
}


/* main */

main {}

.banner {
    position: relative;
    overflow: hidden;
    width: 100%;
    background-image: url(./img/teddy-font);
    background-position: center;
    height: 250px;
    background-size: cover;
}

.banner h1 {
    margin: 0;
    width: 100%;
    position: absolute;
    background-color: rgb(128, 72, 35);
    bottom: 0;
}


/* footer */

footer {
    background-color: rgb(148, 90, 51);
    position: absolute;
    bottom: 0;
    width: 100%;
    padding-bottom: 15px;
}

footer span {
    margin-bottom: 10px;
}

.footer-social {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.footer-social a {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
}

.icon {
    font-size: 22px;
    color: white;
}

.icon:hover {
    color: rgba(255, 255, 255, 0.336)
}